<mat-card fxLayoutAlign="center center" fxLayoutGap="1em" fxLayout="row"
          [matBadge]='getBadgeCount()' matBadgePosition="above after"
          class="user" [class.primary]="you.username === chat.recipient.username">

  <mat-icon>
    account_circle
  </mat-icon>

  <span *ngIf="you.username === chat.recipient.username">You</span>
  <span *ngIf="you.username !== chat.recipient.username">
    {{this.chat.recipient.username}}
  </span>


  <button mat-icon-button>
    <mat-icon>
      launch
    </mat-icon>
  </button>
</mat-card>
