<div fxLayout="column" fxFlexFill>
  <mat-card class="header" fxLayoutGap="5%" [class.primary]="you.username === chat.recipient.username">
    <div *ngIf="!chat.isGroup" fxLayout="row"  fxLayoutAlign="center center">
      <h1 *ngIf="you.username !== chat.recipient.username">
        {{chat.recipient.username}}
      </h1>
      <h1 *ngIf="you.username === chat.recipient.username">
        You
      </h1>
      <mat-icon fxLayoutAlign="right center">
        person
      </mat-icon>
    </div>
    <div *ngIf="chat.isGroup">

    </div>
  </mat-card>
  <mat-card fxLayout="column" class="chat" #scroll>
    <div *ngFor="let message of chat.messages; let i = index">
      <div *ngIf="i === unread"  fxLayout="row" fxLayoutAlign="center center">
        <p>Unread Messages</p>
        <mat-divider></mat-divider>
      </div>
      <app-message [you]="you" [message]="message">
      </app-message>
    </div>
  </mat-card>
  <mat-card fxFlexOffset fxLayoutGap="5%" class="textInput">
    <mat-form-field fxFlex>
      <mat-label>Message</mat-label>
      <textarea matInput
                #message
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                maxlength="256"
                [(ngModel)]="text">
      </textarea>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendMessage()" fxFlex="10%">Send</button>
  </mat-card>
</div>
