<mat-card class="chat" fxLayout="column">
  <mat-card-title>
    <span fxLayoutAlign="center center">
      {{chat.recipient.username}}
    </span>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let message of messages">
        <app-message [message]="message">
        </app-message>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer fxLayout="row" fxFlexOffset fxLayoutGap="5%" class="textInput">
    <mat-form-field fxFlex>
      <mat-label>Message</mat-label>
      <textarea matInput
                #message
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                maxlength="256"
                [(ngModel)]="text">
      </textarea>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendMessage()" fxFlex="10%">Send</button>
  </mat-card-footer>
</mat-card>
