<div fxLayout="column" fxFlexFill>
  <mat-card class="header primary" fxLayoutGap="5%">
    <h1 fxLayoutAlign="center center">
      {{chat.recipient.username}}
    </h1>
    <mat-divider></mat-divider>
  </mat-card>
  <mat-card class="chat">
    <div *ngFor="let message of chat.messages">
      <app-message [you]="you" [message]="message">
      </app-message>
    </div>
  </mat-card>
  <mat-card fxFlexOffset fxLayoutGap="5%" class="textInput">
    <mat-form-field fxFlex>
      <mat-label>Message</mat-label>
      <textarea matInput
                #message
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                maxlength="256"
                [(ngModel)]="text">
      </textarea>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendMessage()" fxFlex="10%">Send</button>
  </mat-card>
</div>
