<div cdkDropListGroup fxLayout="column" fxFlexFill>

      <div fxFlex="85%" fxLayout="row"
        cdkDropList [cdkDropListData]="currentChats" (cdkDropListDropped)="drop($event)">

        <button mat-fab [matMenuTriggerFor]="userMenu" class="fab_button" style="position: fixed; z-index: 9999;">
          <mat-icon>
            menu_open
          </mat-icon>
        </button>
        <mat-menu fxLayout="column" #userMenu>
          <button mat-menu-item (click)="addContact()">
            <mat-icon>
              person_add
            </mat-icon>
            Add contact
          </button>
          <button mat-menu-item (click)="addGroup()">
            <mat-icon>
              group_add
            </mat-icon>
            Creat croup
          </button>
        </mat-menu>

      <div class="chat" *ngFor="let chat of currentChats" fxFlex cdkDrag>
        <app-chat [chat]="chat"></app-chat>
        <div *cdkDragPreview>
          <app-chat [isPreview]="true" [chat]="{recipient: chat.recipient}"></app-chat>
        </div>
        <div *cdkDragPlaceholder fxFlex>
          <app-chat [isPreview]="true" [chat]="{recipient: chat.recipient}"></app-chat>
        </div>
      </div>
  </div>

  <app-footer [events]="eventsSubject.asObservable()" fxFlex="15%"></app-footer>
</div>
