<div fxLayout="column" fxFlexFill>

  <div fxFlex="85%" fxLayout="row" id="chat-overview-list"
  cdkDropListConnectedTo="footer-list"
  cdkDropList [cdkDropListData]="currentChats" (cdkDropListDropped)="drop($event)">

    <div class="chat" *ngFor="let chat of currentChats" fxFlex cdkDrag>
      <app-chat [chat]="chat"></app-chat>
      <div *cdkDragPreview>
        <app-chat [isPreview]="true" [chat]="chat"></app-chat>
      </div>
      <div *cdkDragPlaceholder>
        <app-chat-partner [chat]="chat"></app-chat-partner>
      </div>
    </div>
  </div>

  <app-footer fxFlex="15%"></app-footer>
</div>
