<div cdkDropListGroup fxLayout="column" fxFlexFill>

  <div fxFlex="85%" fxLayout="row"
    cdkDropList [cdkDropListData]="currentChats" (cdkDropListDropped)="drop($event)">

      <div class="chat" *ngFor="let chat of currentChats" fxFlex cdkDrag>
        <app-chat [chat]="chat"></app-chat>
        <div *cdkDragPreview>
          <app-chat [isPreview]="true" [chat]="{recipient: chat.recipient}"></app-chat>
        </div>
        <div *cdkDragPlaceholder fxFlex>
          <app-chat [isPreview]="true" [chat]="{recipient: chat.recipient}"></app-chat>
        </div>
      </div>
    </div>

  <app-footer fxFlex="15%"></app-footer>
</div>
