<mat-card style="border-radius: 1em;">
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
    </mat-form-field><br/>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field><br/>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center" style="margin-bottom:0.5em;">
    <button mat-raised-button (click)="login()" color="primary" >login</button>
    <button mat-raised-button (click)="this.router.navigate(['register'])" color="primary" >register</button>
  </mat-card-actions>
</mat-card>
