<mat-toolbar color="primary" fxLayout="row" fxFill fxLayoutGap="1em">

  <app-user-info fxFlex="10%"></app-user-info>

  <div fxLayout="row" fxFlex class="toolbar accent"
  cdkDropList
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="chats"
  (cdkDropListDropped)="drop($event)">

    <div class="chat-partner" *ngFor="let chat of chats" cdkDrag>
      <app-chat-partner [chat]="chat"></app-chat-partner>
      <div *cdkDragPreview>
        <app-chat [isPreview]="true" [chat]="{recipient: chat.recipient}"></app-chat>
      </div>
      <div *cdkDragPlaceholder fxFlex>
        <app-chat [isPreview]="true" [chat]="{recipient: chat.recipient}"></app-chat>
      </div>
    </div>

  </div>
  <button fxFlexAlign="center" fxFlex="10%" class="add_contact" mat-raised-button (click)="addContact()">
    <mat-icon>
      person_add
    </mat-icon>
  </button>
</mat-toolbar>
